

/*IMPORTANTE TRAER PRIMERO VARIABLES*/

@import "./utilities/colors";
@import "./utilities/mixin";
@import "./utilities/responsive";
@import "./utilities/menu-principal";
@import "./utilities/header-principal";
@import "./utilities/publi";
@import "./utilities/fotosmovil";
@import "./utilities/porcentajes";
@import "./utilities/clientes";
@import "./utilities/slides";
@import "./utilities/bienvenida";
@import "./utilities/footer";
@import "./utilities/manofija";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica Neue;
}








 


